*{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 144rem;
    
}
.atalhos_header {
    background-color: rgb(240, 240, 240);
}

.title_page{
    display: flex;
    flex-direction: row;
    width: 9rem;
    margin: 0 auto;
    padding: 20px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    

}



.menu-header{
    display: flex;
    background-color: dimgrey;
    justify-content: left;
    margin-top: -5.3rem;
    width: 12rem;
    height: 100%;
    position: fixed;
    
}
.menu-header i{
    display: flexbox;
    
    flex-direction: row;
    font-size: 1.3rem;
    width: 1.5rem;
    
}

.menu-header nav ul li a{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    width: 9rem;
    padding: 1.5rem ;
}
.menu-header nav ul{
    display:flex;
    flex-flow: column;
    margin-left: auto;
    list-style: none;
    padding: 2.5rem 0 0 0;
    gap: 1px;
    transition: all 300ms ease-in-out;
    width: 10rem;
    
}


.menu-header a:hover {

    background-color: rgb(127, 228, 228);
    transition: all 300ms ease-in-out;

}

.main-content{
    display: flex;
    margin: 1.5rem  auto;
    border-radius: 3px;
    justify-content: center;
    border: solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    width: 50rem;
    padding: 2rem;
    height: 100%;
}

.certificed{
    background-color: white;
    margin-top: 20px;
    width: 35rem;
    height: 8rem;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    box-shadow: -5px 5px 10px  rgb(0,0,0);
}
.certificed:hover{
    transform: scale(1.02);
    box-shadow:  -8px 8px 18px rgba(0,0,0, .5);
}


.info{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.main-certificed{
    padding: 20px;
}

.nome_certificado{
    display: flex;
    padding: 10px;
    font-size: 1.5rem; 
}

.data_finish{
    width: 10rem;
    padding:  10px;
}
.category{
    display: flex;
    justify-content: flex-end;
    margin-top: -1.5rem;
    padding:  0 100px 0 0;
    
}