<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-[#F4F6FA] font-sans">
    <header th:replace="~{fragments/search :: search(@{/explore})}"></header>
    
    <div class="flex">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        
        <main class="flex-1 ml-64 pt-[80px] p-6 min-h-screen">
            <div th:replace="~{fragments/user :: user(${explorer}, '')}"></div>
        </main>
    </div>
</body>
</html>