<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="bg-gray-100 font-sans flex items-center  min-h-screen">

        
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div th:replace="~{fragments/certificateCreate :: certificateCreate}"></div>
        
        <script>
            window.fileUploadConfigs = [
                {
                    inputId: "fileInput",
                    fileNameId: "fileName",
                    progressBarId: "progressBar",
                    previewContainerId: "previewContainer",
                    imagePreviewId: "imagePreview",
                    pdfPreviewId: "pdfPreview",
                    clearButtonId: "clearFile",
                    defaultText: "Anexar certificado"
                }
                ];
            </script>
            
            <script src="/js/fileUploadPreview.js"></script>
            <script src="/js/notificacao.js"></script>
            <script src="/js/autoCompleteInst.js"></script>
            <script src="/js/file-input.js"></script>
            <script src="/js/autoCompleteType.js"></script>
   </body>
</html>