<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"></head>
    <body class="bg-gray-100 font-sans flex items-center  min-h-screen">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div th:replace="~{fragments/notificacao :: notificacao}"></div>
        <div th:replace="~{fragments/editProject :: editProject}"></div>
        <script src="/js/Api/viewerEditProjeto.js"></script>
        <script src="/js/Api/editProjeto.js"></script>
        <script src="/js/notificacao.js"></script>
        <script src="/js/alteracaoCorSelect.js"></script>
   </body>
</html>