<main class="flex-1 h-screen overflow-auto p-6 bg-[#F4F6FA]" th:fragment="cards">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">

                <!-- Card 1 -->
                <button class="bg-white shadow-md rounded-lg p-4 w-auto text-left border border-gray-200
                            transform transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                    <div class="flex flex-col space-y-2">
                        <div class="nome_certificado text-lg font-semibold text-[#1F2937]">
                            Gestão de Tecnologia
                        </div>
                        <div class="data_finish text-sm text-[#64748B]">
                            07/11/24 às 21:03
                        </div>
                        <div class="category text-sm font-medium text-[#6366F1] w-8 hover:text-[#3B82F6] cursor-pointer duration-300">
                            Categoria
                        </div>
                    </div>
                </button>

                <!-- Card 2 -->
                <button class="bg-white shadow-md rounded-lg p-4 w-auto text-left border border-gray-200
                            transform transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                    <div class="flex flex-col space-y-2">
                        <div class="nome_certificado text-lg font-semibold text-[#1F2937]">
                            Nome Certificado
                        </div>
                        <div class="data_finish text-sm text-[#64748B]">
                            07/11/24 às 21:03
                        </div>
                        <div class="category text-sm font-medium text-[#6366F1] w-8 hover:text-[#3B82F6] cursor-pointer duration-300">
                            Categoria
                        </div>
                    </div>
                </button>

            </div>
</main>