<main
    th:fragment="cards(cards, extraClass)"
    class="flex-1 h-screen overflow-auto ml-64 rounded-lg p-6 bg-[#F4F6FA]"
    th:classappend="${extraClass}">

    <div class="flex justify-end items-center">
        <a th:href="@{/createdProject}"
           class="bg-green-500 shadow-md cursor-pointer rounded-lg px-10 py-2 border text-white hover:shadow-lg hover:bg-green-600">
            Criar
        </a>
    </div>

    <div class="grid grid-cols-3 mt-5 w-auto md:grid-cols-3 lg:grid-cols-3 gap-6">

        <!-- CARD -->
        <a
            th:each="card : ${cards}"
            th:href="@{/panelProjetos/editar/{id}(id=${card.id})}"
            class="bg-white shadow-md rounded-lg p-4 w-auto text-left cursor-pointer border border-gray-200
                   transform transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">

            <div class="flex flex-col space-y-2">
                <div class="flex items-center justify-between relative">

                <!-- TÍTULO -->
                <div class="text-lg font-semibold text-[#1F2937]"
                    th:text="${card.titulo}">
                </div>

                <!-- MENU -->
                <details class="relative">
                    <summary class="list-none cursor-pointer p-2 rounded-full hover:bg-gray-100">
                    <i class="bi bi-three-dots-vertical text-xl"></i>
                    </summary>

                    <div class="absolute right-0 mt-2 w-40 rounded-lg bg-white shadow-lg z-100">
                    <ul class="py-1 text-sm">
                        <li class="px-4 py-2 hover:bg-gray-100">Editar</li>
                        <li class="px-4 py-2 text-red-600 hover:bg-red-50">Excluir</li>
                    </ul>
                    </div>
                </details>

                </div>

                <!-- DONO + STATUS -->
                <div class="flex flex-row gap-2 text-sm font-medium text-[#6366F1]">

                    <div class="flex items-center gap-1">
                        <i class="bi bi-person-circle"></i>
                        <span th:text="${card.dono != null ? card.dono.name : 'Sem dono'}"></span>
                        |
                    </div>

                    <div th:text="${card.status.label}" 
                    th:classappend="${card.status.cssClass}"></div>

                </div>

                <!-- TECNOLOGIAS -->
                <div class="text-sm text-gray-500"
                     th:if="${card.tecnologiasText != null}"
                     th:text="${card.tecnologiasText}">
                </div>

            </div>

        </a>

    </div>

    <!-- SEM RESULTADOS -->
    <div th:if="${#lists.isEmpty(cards)}"
         class="mt-6 text-center text-gray-500">
        Nenhum projeto encontrado.
    </div>

</main>
