<main
    th:fragment="centeruser"
    class="flex-1 h-screen overflow-auto ml-64 rounded-lg p-6 bg-[#F4F6FA]"
    th:classappend="${extraClass}">

    <div class="flex justify-end items-center gap-5 ">
        <a th:href="@{/createdProject}"
        class="bg-green-500 shadow-md cursor-pointer text-center w-[10rem] rounded-lg px-10 py-2 border text-white hover:shadow-lg hover:bg-green-600">
        <i class="bi bi-person-add bold "></i>
            Criar
        </a>
    </div>

    <div id="container-usuarios" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-[2rem]"></div>

    
    <div id="sem-resultados" class="mt-6 text-center text-gray-500 hidden">
        Nenhum usuário encontrado.
    </div>

    <div th:if="${mensagemErro}" 
        role="alert" 
        id="alert" 
        th:utext="${mensagemErro}" 
        class="font-medium"></div>

        <div th:if="${mensagemSucesso}" 
            role="alert-sucesso" 
            id="alert-sucesso"
            th:text="${mensagemSucesso}">
        </div>

</main>
