<div class="bg-white rounded-lg w-[40rem] h-[30rem] p-[15px]" th:fragment="login">
    <div class="flex flex-col justify-center p-[60px]">
        <h2 class="font-sans flex justify-center font-bold text-[45px]">Projex</h2>
        <form th:action="@{/login}" method="post" class="grid-2 px-[40px] w-10">
            <div class="flex flex-col justify-center space-y-4  w-[20px]">
                <div class="flex flex-col">
                    <label class="font-sans text-[21px]">Usuário</label>
                    <input class="w-[25rem] p-[5px] rounded-[4px] border boder-black outline-none focus:ring-1 focus:ring-black" type="text" name="username" required />
                </div>
                <div class="flex flex-col">
                    <label class="font-sans text-[21px]">Senha</label>
                    <input class="w-[25rem] p-[5px] rounded-[4px] border boder-black outline-none focus:ring-1 focus:ring-black" type="password" name="password" required />
                </div>
                <div class="w-12">
                    <button type="submit" class="w-[5rem] bg-blue-500 p-[8px] text-white rounded-[5px]">Entrar</button>
                </div>
            </div>
        </form>
        <div class="mt-4 px-[40px]">
            <div th:if="${param.error}" class="alert bg-[#f8d7da] w-[25rem] text-[#da525d] p-[5px] rounded-[4px] transition-opacity duration-500">
                <p style="color:red;">Usuário ou senha incorretos.</p>
            </div>
            <div th:if="${param.logout}" class="bg-[#f8d7da] w-[25rem] text-[#da525d] p-[5px] rounded-[4px]">
                <p style="color:green;">Logout realizado com sucesso.</p>
            </div>
        </div>
    </div>
    

</div>